# env & config
venv
.env
.env.*
!.env.example
*.secret
*.key
*.pem
*.pfx
*.keystore
firebase*.json
serviceAccountKey.json

# app caches
__pycache__/
node_modules/

# MaxMind DBs
intellicloud-backend/data/*.mmdb
